import * as React from 'react'
import {{name}}Item from './Item'
import { {{name}}Type } from '../../interfaces/{{name}}';

type Props = {
  items: {{name}}Type[]
}

const {{name}} = ({ items }: Props) => (
  <ul>
    {items.map((item) => (
      <li key={item.id}>
        <{{name}}Item data={item} />
      </li>
    ))}
  </ul>
)

export default {{name}}