import React, { FunctionComponent } from 'react';
import { I{{name}}Item } from './type';
import styles from './{{name}}.module.scss';
import classNames from 'classnames/bind';

const cx = classNames.bind(styles);

const {{name}}Item: FunctionComponent<I{{name}}Item> = (props) => {
  let { data } = props;
  return (
  <div className={cx(styles['{{name}}Item-css'.toLowerCase()], props.className)}
  <Link href="/{{name}}s/[id]" as={`/{{name}}s/${data.id}`}>
    <a>
      {data.id}: {data.name}
    </a>
  </Link>
)}

export default {{name}}Item