import React from 'react'
import { {{name}}Type from '../interfaces/{{name}}'

type Props = {
  data: {{name}}Type
}

const {{name}} = ({ data }: Props) => {
  return (
    <>
    <div className={className}>
      Component content
    </div>
    </>
  )
}

export default {{name}}