import React, { FunctionComponent } from 'react';
import {{name}}Item from './Item'
import { I{{name}}Item } from './type';
import { I{{name}} } from './type';
import styles from './{{name}}.module.scss';
import classNames from 'classnames/bind';

const cx = classNames.bind(styles);

const {{name}}: FunctionComponent<I{{name}}> = (props) => {
  let { items } = props;
  return (
  <ul clasName={cx(styles['{{name}}-css'], props.className)}>
    {items.map((item, index) => (
      <li key={'{{name}}-'+index}>
        <{{name}}Item data={item} />
      </li>
    ))}
  </ul>
)}

export default {{name}}