import React, { FunctionComponent } from 'react';
import { I{{name}} } from './type';
import styles from './{{name}}.module.scss';
import classNames from 'classnames/bind';

const cx = classNames.bind(styles);

const {{name}}: FunctionComponent<I{{name}}> = (props) => {
  let { children } = props;
  return (
    <div className={cx(styles['{{nameL}}-css'], props.className)}>
      { children && (
        <div className={cx(styles['inner'])}>
          {children}
        </div>
      )}
      </div>
  )
}

export default {{name}}

